body{margin-left:200px;margin-right:200px;border-style:solid;border-width:1px;border-color:#000000;padding:10px;}
h1{text-align:center;font-size:20px;font-family: 'Noto Sans', sans-serif;font-weight:bold;color:#FFFFFF;}
li{list-style:none;float:left;margin-left:20px;border-style:solid;
border-width:1px;border-color:#000000;padding:10px;background-color:#000000;}
li a{text-decoration:none; color:#FFFFFF;font-size:20px;font-family: 'Noto Sans', sans-serif;font-weight:bold}
h2{color:#FFFFFF;font-size:20px;font-family: 'Montserrat', sans-serif;font-weight:bold}
li:hover{background-color:#E07400;}
.contenido{border-style:solid;
border-width:1px;border-color:#000000;padding:10px;}
.subtitulo{clear:both;border-style:solid;border-width:1px;border-color:#000000;padding:10px;margin-top:80px;
background-color:#312A2A;}
.cabecera{background-color:#312A2A;border-style:solid;border-width:1px;border-color:#000000;}
.imgheader{border-style:solid;border-width:10px;border-color:#000000;}
p{color:#312A2A;font-family: 'Noto Sans', sans-serif;}
.titulillo{font-size:30px;text-decoration:underline; font-family: 'Montserrat', sans-serif;}
.vinculo{color:#E07400}
.imp1{font-weight:bold;}
.imp2{font-weight:bold;color:#CC0606;}
.pie{clear:both;border-style:solid;
border-width:1px;border-color:#000000;padding:10px;margin-top:10px;
background-color:#312A2A}
.piecnt{color:#FFFFFF;font-family: 'Noto Sans', sans-serif;font-size:14px;text-decoration:none; margin-left:40px;}
.pie2{}
.img1{height:70px;width:100px;margin-top:20px;margin-left:30px;}
.img2{height:70px;width:200px;margin-top:20px;margin-left:30px;}
.pie3{clear:both;border-style:solid;
border-width:1px;border-color:#000000;padding:10px;margin-top:10px;
background-color:#312A2A}
.piecnt2{color:#FFFFFF;font-family: 'Noto Sans', sans-serif;font-size:24px;text-decoration:none; margin-left:40px;
}
.piecnt:hover{color:#E07400}
.vinculo:hover{font-weight:bold;}
.imgheader:hover{border-color:#E07400}
.login{color:#E07400;text-decoration:none;font-family: 'Noto Sans', sans-serif;margin-left:50px;}
.login:hover{font-weight:bold;}
.usunew{border-style:solid;border-width:1px;border-color:#000000;}
.tit2{text-decoration:underline;font-weight:bold;}
#name{color:#E07400;font-family: 'Noto Sans', sans-serif;font-weight:bold;}
#pass{color:#E07400;font-family: 'Noto Sans', sans-serif;font-weight:bold;}
#limpiar{color:#E07400;font-family: 'Noto Sans', sans-serif;font-weight:bold;margin-right:50px;margin-bottom:20px;}
#aceptar{color:#E07400;font-family: 'Noto Sans', sans-serif;font-weight:bold;margin-bottom: 20px;}
#iconf{color:#E07400;font-family: 'Noto Sans', sans-serif;font-weight:bold;margin-bottom: 20px;}
#icom{width:130;height:140px;color:#E07400}
#imagen{color:#E07400;font-family: 'Noto Sans', sans-serif;font-weight:bold;}
#titulo{color:#E07400;font-family: 'Noto Sans', sans-serif;font-weight:bold;}
#ingredientes{color:#E07400;font-family: 'Noto Sans', sans-serif;font-weight:bold;}
#preparacion{color:#E07400;font-family: 'Noto Sans', sans-serif;font-weight:bold;}
.reclist{color:#E07400;text-decoration:none;font-family: 'Noto Sans', sans-serif;margin-left:50px;}
