{% extends "layout.twig.html" %}

{% block subtitulo %}
	<a class="titulillo">AGREGAR RECETA</a>
	<br />
	Formulario que recoge los datos de la nueva receta
{% endblock %}

{% block contenido %}
	<div class="usunew" align="center">
		<p class="tit2">RELLENA LOS DATOS DE LA NUEVA RECETA</p>
		<p>Titulo : <input id="name" name="titulo" type="text" /></p>
		<p>Tipo : <select name="tipo">
			<option value="Primero">Primero</option>
			<option value="Segundo">Segundo</option>
			<option value="Entrante">Entrante</option>
			<option value="Postre">Postre</option>
		</select></p>
		<p>Ingredientes : <input id="ingredientes" name="ingredientes" type="text" /></p>
		<p>Preparacion : <input id="preparacion" name="preparacion" type="text" /></p>
		<p>Imagen : <input id="imagen" name="imagen" type="file" /></p>
		<br />
		<input type="submit" value="Limpiar" name="limpiar"id="limpiar"><input type="submit" value="Aceptar" name="aceptar" id="aceptar">
	</div>
{% endblock %}