{% extends "layout.twig.html" %}

{% block subtitulo %}
	<a class="titulillo">COMENTAR RECETA</a>
	<br />
	Formulario que recoge comentarios en referencia hacia una receta
{% endblock %}

{% block contenido %}
	<div class="usunew" align="center">
	<p class="tit2">RELLENA LOS DATOS DEL NUEVO COMENTARIO</p>
	<p>Receta : <select name="recetas">
		<option value=""> </option>
	</select></p>
	<p>Usuario:<input type='text' name ='usuario' disabled/></p>
		<p>Comentario: <input type='text' id="icom" name="comentario"/> </p>
	<input type='submit' value='Confirmar' id="iconf"/>
	</div>
{% endblock %}