{% extends "layout.twig.html" %}

{% block subtitulo %}
	<a class="titulillo">INICIO</a>
	<br />
	Bienvenido al Recetario en PHP con plantillas TWIG
{% endblock %}

{% block contenido %}
	<p>
		Esta es mi tarea de Recetario en <a href="http://www.php.net/manual/es/" class="vinculo">PHP</a> 
		para <span class="imp1">Desarrollo de Aplicaciones Web</span>  en 
		<a href ="http://www.cpilosenlaces.com/cpilosenlaces/cpifp_los_enlaces_inicio/cpifp_los_enlaces_inicio.html" class="vinculo">
			Los Enlaces
		</a>. <br /><br />
		Para realizar el trabajo he utilizado el motor de plantillas <span class="imp2">Twig</span>.
		Puedes consultar su documentación <a class="vinculo" href="http://gitnacho.github.io/Twig/intro.html">aquí</a>. El Ide con el
		que he trabajado ha sido <span class="imp2">Aptana Studio 3</span>.
	</p>
	<p>
		La aplicación web lista las recetas guardadas en una base de datos <span class="imp2">sqlite</span> en el menú <span class="imp1">
			Listado</span> Desde el menú <span class="imp1">Agregar Receta</span> podremos añadir nuevas recetas a nuestra base de datos
			además de editar su información asi como borrarlas.<br />
			Desde el menu <span class="imp1">Comentar receta</span> podremos añadir comentarios a esas recetas.
			<br />
			En el menú <span class="imp1">Usuarios</span> veremos los usuarios que se han creado en la base de datos y podremos crear nuevos 
			usuarios.
		</p>
		<p>Bon Apetit.</p>
{% endblock %}
