<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
  <head>
    <title>{% block title %}Recetario PHP{% endblock %}</title>
    <link href='http://fonts.googleapis.com/css?family=Noto Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css'/>
	<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'/>
	<meta charset="utf8" />
	<link href="css/estilos.css" rel="stylesheet" />
  </head>
  <body>
  	<div class="cabecera" align="center">
  		<img src="images/recetario.jpg" class="imgheader" />
  <br />
   {% if user.is_authenticated %}
          
         	<a href="/cerrar" class="login">Cerrar sesion</a>
         	<a href="/perfil" class="login">Perfil</a>
         
         {% else %}
          <a href="login.php" class="login">Iniciar sesion</a>
          	<a href="usuarios.php" class="login">Registrarse</a>
          	
          {% endif %}
  		
    <h1>RECETARIO REALIZADO POR MARCO A. SANCHEZ</h1>
    </div>
	<div class="menu">
		<ul>
			<li><a href="index.php">INICIO</a></li>
			<li><a href="listado.php">LISTADO</a></li>
			<li><a href="agregar.php">AGREGAR RECETA</a></li>
			<li><a href="comentar.php">COMENTAR RECETA</a></li>
			<li><a href="usuarios.php">USUARIOS</a></li>
		</ul>
	</div>
	<div class="subtitulo">
	<h2>{% block subtitulo %}{% endblock %}</h2>
	</div>
    <div class="contenido">
      {% block contenido %}
      {% endblock %}
    </div>
    <div class="pie">
    	<a class="piecnt" href="https://mail.google.com/mail/u/0/?tab=Xm#inbox?compose=14419d4a52d79df5">Contactar</a> <a class="piecnt" href="https://bitbucket.org/saefesd/recetariophp">Repositorio</a>
    <a class="piecnt" href="https://www.google.es/#q=recetas+de+cocina">Recetas en Google</a>
    <a class="piecnt" href="https://www.youtube.com/results?search_query=recetas%20de%20cocina&sm=3">Recetas en Youtube</a>
    <a class="piecnt" href="http://jhernandz.es/noticia/twig-plantillas-php-i">Tutorial Twig</a>
    	 <a class="piecnt" href="http://www.saefesd.infenlaces.com/trabajos/twig.pdf">Manual Twig pdf</a>
    	
    
    </div>
    <div class="pie2">
    	<img src="images/php.png" class="img1"/>
    	<img src="images/sqlite.png" class="img1"/>
    	<img src="images/twig.png" class="img1"/>
    	<img src="images/aptana.png" class="img1"/>
    	<img src="images/pdf.png" class="img1"/>
    	<img src="images/bitbucket.png" class="img2"/>
    </div>
    <div class="pie3" align="center">
   <a class="piecnt2">D.A.W. 2º - @saefesd 2014</a>
    </div>
  </body>
</html>
