{% extends "layout.twig.html" %}

{% block subtitulo %}
	<a class="titulillo">LISTADO DE RECETAS</a>
	<br />
	Estas son las recetas que están ahora mismo en la base de datos
{% endblock %}

{% block contenido %}
	<p>Listado de recetas</p>
	
	{% if recetas %}
	
		{% for receta in recetas %}
		
		<p class="reclist">{{receta.titulo}} {{receta.usuario}}</p>
		{% endfor %}
	{% else %}
		<p class="reclist">No Hay recetas</p>
	{% endif %}

	
	
{% endblock %}
