{% extends "layout.twig.html" %}

{% block subtitulo %}
	<a class="titulillo">LOGIN</a>
	<br />
	Rellena los datos correctamente para poder loguearte
{% endblock %}

{% block contenido %}
	<div class="usunew" align="center">
		<p class="tit2">RELLENA LOS DATOS DE TU USUARIO</p>
		<p>Nombre : <input id="name" name="name" type="text" /></p>
		<p>Contraseña : <input id="pass" name="pass" type="password" /></p>
		<br />
		<input type="submit" value="Limpiar" name="limpiar"id="limpiar"><input type="submit" value="Aceptar" name="aceptar" id="aceptar">
	</div>
	
{% endblock %}