{% extends "layout.twig.html" %}

{% block subtitulo %}
	<a class="titulillo">USUARIOS</a>
	<br />
	Aqui se podrá crear un nuevo usuario para poder crear las recetas
{% endblock %}

{% block contenido %}
	<div class="usunew" align="center">
		<p class="tit2">RELLENA LOS DATOS DEL NUEVO USUARIO</p>
		<p>Nombre : <input id="name" name="name" type="text" /></p>
		<p>Contraseña : <input id="pass" name="pass" type="password" /></p>
		<br />
		<input type="submit" value="Limpiar" name="limpiar"id="limpiar"><input type="submit" value="Aceptar" name="aceptar" id="aceptar">
	</div>
	
{% endblock %}

